INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
autom4te.cache
config.*
configure
depcomp
gnome-doc-utils.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
org-freedesktop-thumbnails-thumbnailer1-dbus-bindings.h
solang
solang-marshal.c
solang-marshal.h
stamp-h1
stamp-it
stamp-solang-marshal.h
xmldocs.make
.deps
.intltool-merge-cache
.libs
*.desktop
*.desktop.in
*.gmo
*.la
*.lo
*.loT
*.o
*.patch
*~
