INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
solang
stamp-h1
stamp-it
.deps
.libs
*.gmo
*.la
*.lo
*.loT
*.o
*.patch
*~
